/*
  --------------TYPOGRAPHY--------------------------
    -FONT WEIGHTS
        Headings - 500 to 900
        Rest - 300 to 400
    - LINE HEIGHTS
        headings 1 to 1.2
        blocks of text 1.5 for readability
    - FONT SIZES
        12px / 16px / 20px / 24px / 32px / 40px / 48px / 62px
    -LETTER SPACING
        0 / -2px
    - FONT FAMILY
        Poppins

  ---------- COLORS ----------

    PRIMARY
      Base: #ffec3d (Bee Yellow)
      Tint: #fef9c1 (Cheese Yellow)
      Shade: #ffc53d (Yolk Yellow)

    SECONDARY
      Base: #ff922b (Orange)
      Tint: #ffe8cc (Peach Tea)
      Shade: #f76707 (Algerian Coral Orange)

    GREY
      Base: #495057 (Slate)
      Tint: #f1f3f5 (Pebble)
      Shade: #212529 (Graphite)
      White: #ffffff (White)
      Black: #000000 (Black)  
    
*/
/*---------------------GLOBAL STYLES--------------------------------*/
body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}
/*Body inherited text properties have lower specificity so will be overriden*/
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -2px;
  color: #212529;
}
h1 {
  font-size: 62px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
}
/*
    Keep blocks of text with images left or right aligned, otherwise keep em centered.
*/
h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

p,
a,
.small-text {

}

p {
  font-size: 20px;
}

/*
    Anchor link design standard for nav elements
    - Always remove the under line from the links
*/
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.small-text{
  font-size: 12px;
}


/*---------------------COMPONENTS--------------------------------*/
/*
Button component 

When applying button styles, trying to follow the class pattern used
in Bootstrap framework. 

Here the structure style will cascade to the primary and secondary btns

Button structure */
.btn{
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}
/*Primary button styles
  Its best to style the pseudo class of the anchor tag than to style the actual element
*/
.btn-primary:link, .btn-primary:visited{
  color: #000000;
  background-color: #ffec3d;
}

.btn-primary:hover, .btn-primary:active{
  color: #000000;
  background-color: #ffc53d;
}

/*Secondary button styles. its a button tag for now*/
.btn-secondary{
  color: #000000;
  background-color: #ff922b;
}

.btn-secondary:hover, .btn-secondary:active{
  color: #000000;
  background-color: #f76707;
}

.highlight{
  color: #000000;
}

.highlight-primary{
  background-color: #ffec3d;
}

.highlight-secondary{
  background-color: #ff922b;
}

/*---------------------SECTIONS--------------------------------*/
/*-------NAVBAR SECTION------*/

.nav-logo h2::after{
  content: 'Alpha';
  color: brown;
  font-size: 12px
}

/*-------HERO SECTION------*/
.hero-section{
text-align: center;
}
/*-------FEATURES SECTION------*/

.feature-main-heading{
  text-align: center;
}
/*-------CTA SECTION------*/

.cta-section{
  text-align: center;
  height: 300px;
}
.cta-card{
  background-color: #f76707;
}


/*-------FOOTER SECTION------*/

.footer{
  text-align: center;

}

